<table class="table table-stripped">
  <thead>
    <th>Sl. No</th>
    <th>Book</th>
    <th>Author</th>
  </thead>
  <tbody>

    <tr>
      {{#each lib as |lib|}}
      <td>{{lib.SlNo}}</td>
      <td>{{lib.book}}</td>
      <td>{{lib.author}}</td>
      {{/each}}
    </tr>

  </tbody>
</table>

{{yield}}
