<h2>About Baja</h2>

<p>The BAJA SAE Series® is an event for the undergraduate engineering students, organized globally by the Society of Automotive Engineers, USA. The event originated in the name of Mini - BAJA, in the year 1976 at University of Carolina. Since then, the event has spanned across six countries – USA, Mexico, South Africa, Korea, Brazil and India. The BAJA SAE tasks the students to design, fabricate and validate a single seater four - wheeled off road vehicle to take part in series of events spread over a course of 3 days that test the vehicle for the sound engineering practices that have gone into it, the agility of the vehicle in terms of gradability, speed, acceleration and manoeuvrability characteristics and finally its ability to endure that back breaking durability test.</p>

{{#link-to "index"}}Home{{/link-to}}


{{outlet}}
