<<<<<<< HEAD
<div class="container">
<h2 id="title">Library</h2>
</div>
=======
<h2 id="title">Welcome to Ember</h2>
<div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <a class="navbar-brand" href="#">Library</a>
      <div class="navbar navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Books</a></li>
          <li><a href="#">Users</a></li>
        </ul>
      </div>
    </nav>
  </div>

>>>>>>> 7208bcaff82af0dbbe06146b46ba995d92ea5588
{{outlet}}
