
<div class="container navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to "library"}}Library{{/link-to}}</li>
    <li>{{#link-to "user"}}Users{{/link-to}}</li>
  </ul>
</div>



{{outlet}}
