<div class="container navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active">{{#link-to "library"}}Library{{/link-to}}</li>
    <li>{{#link-to "user"}}Users{{/link-to}}</li>
  </ul>
</div>
<div class="container">
  <table class="table table-stripped">
    <thead>
      <th>Sl. No</th>
      <th>Book</th>
      <th>Author</th>
    </thead>
    <tbody class="table-hover" id="add">
      {{#each model as |lib|}}
      <tr>
        <td>{{lib.SlNo}}</td>
        <td>{{lib.book}}</td>
        <td>{{lib.author}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <form>
    <h4>New book</h4>
    <div class="form-group">
      <label for="book-name">Book Name</label>
      <input type="text" id="book" class="form-control" placeholder="Book Name">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" id="author" class="form-control" placeholder="Author">
    </div>
    <button class="btn btn-default" onclick="addBook()">Add Book</button>
  </form>
</div>
{{outlet}}
