
<div class="container">
  <nav class="navbar navbar-static-top">

    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "library.list"}}List of Books{{/link-to}}</li>
        <li>{{#link-to "library.new"}}Add Book{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>

{{outlet}}
